/* General Styles */
body {
    margin: 0;
    padding: 0;
    background-color: black;
    font-family: Arial, sans-serif;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


/* Sidebar */
.sidebar {
    width: 250px;
    background-color: #6B6487;
    padding: 20px;
    border-radius: 20px;
    height: 60%;
    position: absolute;
    left: 20px; 
}

.profile {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.avatar {
    width: 80px;
    height: 80px;
    background-color: #C9B5C6;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
}

.menu {
    list-style: none;
    padding: 0;
    padding-top: 2%;
}
.menu a {
    margin: 15px 0;
    font-size: 18px;
    color: white;
}
.form-container {
    margin-top: 10px;
    width: 28rem;
    background-color: #6B6487;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0px 4px 6px rgba(208, 208, 208, 0.1);
  }
  .main-content {
    width: 75%;
    padding: 40px;
    padding-left: 40%;
  }
  
  .main-content h1 {
    margin-bottom: 20px;
    font-family: 'Times New Roman', Times, serif;
  }
  
  form {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  
  label {
    font-size: 16px;
    font-weight: bold;
    text-align: justify;
  }
  
  input[type="date"],
  input[type="text"],
  input[type="number"]
   {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 90%;
  }
  
  .add-expense-btn {
    padding: 10px;
    background-color: palevioletred;
    color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 150px;
    margin-left: 30%;
    
  }
  
  .add-expense-btn:hover {
    background-color: palevioletred;
  }
  