/* General Styles */
body {
    margin: 0;
    padding: 0;
    background-color: black;
    font-family: Arial, sans-serif;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


/* Sidebar */
.sidebar {
    width: 16%;
    background-color: rgba(92, 84, 112, 0.6);
    padding: 20px;
    border-radius: 20px;
    height: 67%;
    margin-top: 10%;
}

/* Sidebar Dropdown */
.dropdown ul {
    display: none;
    list-style-type:circle;
    padding: 0;
    margin: 0;
    margin-left: 30px;
}

.dropdown:hover ul {
    display: block;
}

.dropdown ul li {
    padding: 8px;
    background: rgba(72, 67, 87, 0.6);
}

.dropdown ul li a {
    font-size: 17px;
}

.profile {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.avatar {
  width: 140px;
  height: 140px;
  object-fit: cover; 

}
.logo {
    width: 150px;
    position: absolute;
    top: 10px;
    left: 10px;
}

.menu {
    list-style: none;
    padding: 0;
    
}
.menu a {
    margin: 15px 0;
    font-size: 18px;
    color: white;
    text-decoration: none;
}


/* Dashboard */
.dashboard {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    flex-grow: 1;
    padding-left: 50px;
}


/* Expense Boxes */
.expense-box{
    transition: transform 0.40s ease-in-out;
}

.expense-box h3 {
    margin-bottom: 10px;
}

.expense-box:hover {
    transform: scale(1.10);
}
.expense-card {
    width: 400px;
    height: 280px;
    background-color: rgba(92, 84, 112, 0.6);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.491);
    padding-right: 5%;
    padding-left: 5%;
    
}

/*Mothly Budget*/
.budget-text {
    margin-left: 8.5rem;
}
.Budget {
    width: 300px;
    height: 150px;
    background-color: rgba(92, 84, 112, 0.6);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.491);
    padding-right: 5%;
    padding-left: 5%;
    margin-left: 11%;
    transition: transform 0.40s ease-in-out;
   
}
.Budget:hover {
    transform: scale(1.10);
}

/* Expense */
.expense-card, .Budget {
    display: flex;
    justify-content: center; 
    align-items: center;
    height: 200px; 
    font-size: 24px; 
    font-weight: bold; 
    text-align: center; 
    color: white; 
}

.progress-container {
    width: 100%;
    background-color: #ccc;
    border-radius: 5px;
    overflow: hidden;
    height: 15px;
    margin-top: 10rem;
}
.progress-bar {
    height: 100%;
    text-align: center;
    line-height: 15px;
    font-size: 12px;
    font-weight: bold;
    color: white;
    transition: width 0.5s ease-in-out;
}