/* General Styles */
body {
    margin: 0;
    padding: 0;
    background-color: black;
    font-family: Arial, sans-serif;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


/* Sidebar */
.sidebar {
    width: 250px;
    background-color: #6B6487;
    padding: 20px;
    border-radius: 20px;
    height: 60%;
    margin-top: 4rem;
    
}

.profile {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.avatar {
  width: 140px;
  height: 140px;
  object-fit: cover; 

}

.menu {
    list-style: none;
    padding: 0;
    padding-top: 2%;
}
.menu a {
    margin: 15px 0;
    font-size: 18px;
    color: white;
}

/* Dashboard */
.dashboard {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    flex-grow: 1;
    padding-left: 50px;
}

/* Expense Boxes */
.expense-box h3 {
    margin-bottom: 10px;
}

.expense-card {
    width: 400px;
    height: 180px;
    background-color: #6B6487;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.2);
    padding-right: 5%;
    padding-left: 5%;
}

/*Mothly Budget*/
.budget-text {
    text-align: center;
    margin-left: 26rem;
}
.Budget {
    
    width: 300px;
    height: 150px;
    background-color: #6B6487;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.2);
    padding-right: 5%;
    padding-left: 5%;
   margin-left: 56%;
   
}

