/* General Styles */
body {
    margin: 0;
    padding: 0;
    background-color: black;
    font-family: Arial, sans-serif;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.logo {
  width: 150px;
  position: absolute; 
  top: 10px; 
  left: 10px; 
}


/* Sidebar */

.sidebar {
    width: 250px;
    background-color: #6B6487;
    padding: 20px;
    border-radius: 20px;
    height: 65%;
    margin-top: 4rem;
    
}

.profile {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.avatar {
  width: 140px;
  height: 140px;
  object-fit: cover; 

}
.logo {
    width: 150px;
    position: absolute;
    top: 10px;
    left: 10px;
}

.menu {
    list-style: none;
    padding: 0;
    
}
.menu a {
    margin: 15px 0;
    font-size: 18px;
    color: white;
    text-decoration: none;
}


.filter-form {
    display: flex;
    justify-content: center; 
    align-items: center; 
    gap: 10px; 
    background-color: #6B6487; 
    padding: 15px; /* Add some padding */
    border-radius: 10px; /* Rounded edges */
    width: fit-content; /* Adjust width based on content */
    margin: 0 auto 20px auto; /* Center the form with bottom spacing */
    
}

.filter-form label {
    color: white; /* White text */
    font-size: 16px;
}

.filter-form input {
    padding: 5px;
    border: none;
    border-radius: 5px;
}

.filter-form button {
    background-color: white; /* Button background */
    color: #6B6487; /* Button text color */
    border: none;
    padding: 8px 12px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}

.filter-form button:hover {
  
    color: black;
}




.chart-container {
    padding-left: 20px; /* Space from the left */
    display: flex;
    justify-content: center; /* Centers the graph */
    align-items: center;
}
#expenseLineChart {
    padding-left: 50px; /* Adjust the value as needed */
}
