/* General Styles */
body {
    margin: 0;
    padding: 0;
    background-color: black;
    font-family: Arial, sans-serif;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


/* Sidebar */
.sidebar {
    width: 16%;
    background-color: rgba(92, 84, 112, 0.6);
    padding: 20px;
    border-radius: 20px;
    height: 67%;
    margin-top: 10%;
    position: absolute; 
    left: 0; 
}

.profile {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.avatar {
  width: 140px;
  height: 140px;
  object-fit: cover; 

}
.logo {
    width: 150px;
    position: absolute;
    top: 10px;
    left: 10px;
}

.menu {
    list-style: none;
    padding: 0;
    
}
.menu a {
    margin: 15px 0;
    font-size: 18px;
    color: white;
    text-decoration: none;
}


/* Main Content */
.form-container {
    margin-top: 12%;
    width: 28rem;
    background-color: rgba(92, 84, 112, 0.6);
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0px 4px 6px rgba(208, 208, 208, 0.1);
    margin-left: auto;
    margin-right: auto;
}

.main-content {
    width: 75%;
    padding: 40px;
}

.main-content h1 {
    margin-bottom: 20px;
    font-family: 'Times New Roman', Times, serif;
}

form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

label {
    font-size: 18px;
    font-weight: bold;
    text-align: justify;
}

select, input[type="number"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 90%;
}
select, input[type="month"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 90%;
}
.set-budget-btn {
    padding: 10px;
    background-color: palevioletred;
    color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 150px;
    margin-left: 30%;
}

.set-budget-btn:hover {
    background-color: rgb(167, 62, 97);
}

.reset-budget-btn {
    padding: 10px;
    background-color: palevioletred;
    color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 150px;
    margin-left: 30%;
}